<table mat-table [dataSource]="products">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Product Name</th>
        <td mat-cell *matCellDef="let product">
            <a [routerLink]="[product.id]">
                {{ product.name }}
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef>Unit Price</th>
        <td mat-cell *matCellDef="let product">
            {{ product.unitPrice | currency }}
        </td>
    </ng-container>

    <ng-container matColumnDef="unitsInStock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let product">
            {{ product.unitsInStock }}
        </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let product">
            {{ product.category?.name || 'N/A' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="discontinued">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let product">
            <span [ngClass]="{'discontinued': product.discontinued}">
                {{ product.discontinued ? 'Discontinued' : 'Active' }}
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
</table>